### Data 620 Final Project

**Team No. 6**

- Yohannes Deboch
- Sherranette Tinapunan

---

### Twitter Data Pull

The new Statue of Liberty Museum just opened on May 16, 2019.

The purpose of this file is to retrieve data from Twitter since 5/1/2019 with the hashtags #StatueOfLiberty OR #StatueOfLibertyMuseum. The data retrieval specified 1000 tweets; however, Twitter only returned 558 rows that starts on 5/12/2019.

The returned tweets were saved in CSV format, which will be used as input for further analysis.

In [91]:
import tweepy as tw
import pandas as pd

In [92]:
consumer_key= 'z260t2EEc7KzCFPwHD37cjddJ'
consumer_secret= 'POSKgmmVSSyeI3LwT6RircuGD8cGzB7z32JB8sTDoz0J4JWOQn'
access_token= '1125189491726090240-31y09WMX8MzDcDlnYvemzcnABhzA4G'
access_token_secret= 's7XrsbPLpiz17ehDCxP5B8hRMsPlOtXyfD1fUTWG0HxZY'

In [93]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [94]:
search_words = "#StatueofLiberty OR #StatueOfLibertyMuseum" + " -filter:retweets"
date_since = "2019-05-01"
search_words

'#StatueofLiberty OR #StatueOfLibertyMuseum -filter:retweets'

In [108]:
#Returns tweepy.cursor.ItemIterator object
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(1000)

In [110]:
tweet_data = [[ "'" + str(tweet.id), tweet.created_at, tweet.user.screen_name, tweet.user.location, tweet.text] for tweet in tweets]

tweet_df = pd.DataFrame(data=tweet_data, 
                    columns=['tweet_id', 'created_at', 'user', "location", "text"])
tweet_df.head()

,tweet_id,created_at,user,location,text
0,'1131047852883546118,2019-05-22 04:03:16,NYCRocksYou,New York,We will be premiering our very first NYC based...
1,'1131037675279069185,2019-05-22 03:22:50,MorinToon,"Maine, USA","Give us your white, your rich, entitled and ed..."
2,'1131022433337659392,2019-05-22 02:22:16,DWUConservation,"Government District, Dallas",The #StatueofLiberty app is pretty much everyt...
3,'1131007852217286662,2019-05-22 01:24:19,marvslawrence,"Makati, Philippines","Meet up with the lady. ðŸ—½| Liberty Island, New ..."
4,'1131003078742876160,2019-05-22 01:05:21,johanson_sven,"Cambridge, MA","Just your typical Tuesday, yachting on the Hud..."

In [112]:
tweet_df.shape

(558, 5)

In [111]:
tweet_df.to_csv('tweets_ver4.csv')